@model Revision_Vehiculos_Transporte_MVC.Models.Vehiculo

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<h1 class="text-decoration-underline text-danger fw-bold">ELIMINAR</h1>

<h3>¿Desea eliminar estos datos?</h3>
<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CapacidadPasajeros)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CapacidadPasajeros)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CilindrajeMotor)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CilindrajeMotor)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PaisOrigen)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PaisOrigen)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DescripcionGeneral)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DescripcionGeneral)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OtrasCaracteristicas)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.OtrasCaracteristicas)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdConductorNavigation)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdConductorNavigation.Id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdDuenoVehiculoNavigation)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdDuenoVehiculoNavigation.Id)
        </dd>
    </dl>

    <div>
        <a class="text-decoration-none text-danger fs-5 fw-bold">
            <i class="bi bi-exclamation-triangle"></i>
            Verifique que este vehiculo no tenga ninguna asignacion con un mecanico antes de elminar estos datos
            <i class="bi bi-exclamation-triangle"></i>
        </a>
    </div>

    <br />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="ELIMINAR" class="btn btn-danger fw-bold" /> |
        <a asp-action="Index" class="fw-bold">
            VOLVER A LA LISTA
            <i class="bi bi-chevron-double-left"></i>
        </a>
    </form>
</div>
