@model IEnumerable<Revision_Vehiculos_Transporte_MVC.Models.DuenoVehiculo>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/styleTablas.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<h1>Registro Dueños de Vehiculos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">
        AGREGAR NUEVO DUEÑO DE VEHICULO  
        <i class="bi bi-plus-circle-fill"></i>
    </a>
</p>


<table class="table table-responsive table-striped table-hover table-bordered border-dark">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Nombre)*@
                NOMBRE
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Apellido)*@
                APELLIDO
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Direccion)*@
                DIRECCION
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Email)*@
                EMAIL
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NumeroTelefono)*@
                TELEFONO
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FechaNacimiento)*@
                FECHA DE NACIMIENTO
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.CiudadResidencia)*@
                CIUDAD DE RESIDENCIA
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NumeroDocumento)*@
                DOCUMENTO
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiudadResidencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning text-dark fw-bold bg-warning" asp-route-id="@item.Id">Editar</a>
            </td>
            <td>
                <a asp-action="Details" class="btn btn-primary text-dark fw-bold bg-primary" asp-route-id="@item.Id">Detalles</a>
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-danger text-dark fw-bold bg-danger" asp-route-id="@item.Id">Eliminar</a>
            </td> 
        </tr>
}
    </tbody>
</table>
